@import "../../../sass/global.scss";
    .content-section {
        margin: 10px;
        position: relative;
        top: 100px;
        overflow: hidden;
        @include mobile {
            top: 150px;
          }
    }