@import '../../sass/global.scss';
.container-projects {
    width: 65%;
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    top: 180px;
    padding: 20px;
    @include mobile{
        position: absolute;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
        top: 150px;
        
        flex-direction: column;
       
      
    }
}