.app-container {
  display: flex;
  width: 100vw;
  height: 100vh;  
  color: aliceblue;
 

   .app-header {
    height: 50px;
     
  }
  .main-container {
    width: 100%;
    height: calc(100% - 40px);
    top: 40px;
    position: relative;    
    display: flex;
    align-items: center;    
    justify-content: center;
    
  }

  
}
